In [1]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
import os
# plt.style.use('seaborn-colorblind')
# %matplotlib inline
from feature_cleaning import outlier as ot
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Leer dataset

In [27]:
data = pd.read_csv('./data/bank-additional-full.csv', sep=';')
data.head(3)
print(data.shape)

(41188, 21)

In [32]:
pd.Series(data.duration.unique()).sort_values()

939        0
1436       1
1391       2
666        3
546        4
        ...
997     3631
1184    3643
1535    3785
1362    4199
1383    4918
Length: 1544, dtype: int64

In [ ]:
# Detectar por límite arbitrario

In [31]:
index,para = ot.outlier_detect_arbitrary(data=data,col='duration',upper_fence=300,lower_fence=5)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 11227
Proportion of outlier detected 0.2725793920559386
Límite superior: 300
Límite inferior: 5

In [33]:
data.loc[index,'duration'].sort_values()

28063       0
6251        0
33015       0
23031       0
40554       1
         ...
7727     3631
13820    3643
40537    3785
22192    4199
24091    4918
Name: duration, Length: 11227, dtype: int64

In [34]:
# Metodo IQR

In [35]:
index,para = ot.outlier_detect_IQR(data=data,col='duration',threshold=5)
print('Upper bound:',para[0],'\nLower bound:',para[1])

Num of outlier detected: 276
Proportion of outlier detected 0.006700980868214043
Upper bound: 1404.0
Lower bound: -983.0

In [36]:
data.loc[index,'duration'].sort_values()

40672    1405
39914    1407
3829     1408
21984    1408
16234    1408
         ...
7727     3631
13820    3643
40537    3785
22192    4199
24091    4918
Name: duration, Length: 276, dtype: int64

In [37]:
# Método de media y desviación estándar

In [38]:
index,para = ot.outlier_detect_mean_std(data=data,col='duration',threshold=3)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 861
Proportion of outlier detected 0.020904146838885113
Upper bound: 1036.1227567065391
Lower bound: -519.5527363122494

In [40]:
data.loc[index,'duration'].sort_values()

17612    1037
23636    1037
16326    1037
20756    1038
28604    1038
         ...
7727     3631
13820    3643
40537    3785
22192    4199
24091    4918
Name: duration, Length: 861, dtype: int64

In [ ]:
# metodo MAD

In [42]:
index = ot.outlier_detect_MAD(data=data,col='duration',threshold=3.5)

Num of outlier detected: 2739
Proportion of outlier detected 0.06649995144216762

In [ ]:
# Imputación con valor arbitrario

In [44]:
index,para = ot.outlier_detect_arbitrary(data=data,col='duration',upper_fence=300,lower_fence=5)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 11227
Proportion of outlier detected 0.2725793920559386
Límite superior: 300
Límite inferior: 5

In [45]:
data[255:275]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
255,53,services,married,high.school,no,yes,yes,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
256,58,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
257,45,management,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
258,43,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
259,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
260,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
261,27,blue-collar,single,basic.6y,no,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
262,42,technician,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
263,43,admin.,divorced,basic.9y,no,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
264,42,admin.,married,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
265,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
266,34,self-employed,single,university.degree,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
267,31,student,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
268,54,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
269,40,self-employed,married,basic.4y,unknown,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
270,52,unemployed,married,high.school,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
271,47,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
272,49,housemaid,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
273,32,admin.,single,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
274,49,housemaid,single,high.school,unknown,yes,yes,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [46]:
data2 = ot.impute_outlier_with_arbitrary(data=data,outlier_index=index,
                                         value=-999,col=['duration'])
data2[255:275]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
255,53,services,married,high.school,no,yes,yes,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
256,58,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
257,45,management,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
258,43,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
259,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
260,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
261,27,blue-collar,single,basic.6y,no,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
262,42,technician,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
263,43,admin.,divorced,basic.9y,no,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
264,42,admin.,married,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
265,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
266,34,self-employed,single,university.degree,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
267,31,student,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
268,54,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
269,40,self-employed,married,basic.4y,unknown,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
270,52,unemployed,married,high.school,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
271,47,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
272,49,housemaid,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
273,32,admin.,single,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
274,49,housemaid,single,high.school,unknown,yes,yes,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [47]:
# Windsorization
# Codificación superior e inferior (limitando el máximo de una distribución a un valor arbitrario, y viceversa)

In [48]:
index,para = ot.outlier_detect_arbitrary(data,'duration',300,5)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 11227
Proportion of outlier detected 0.2725793920559386
Límite superior: 300
Límite inferior: 5

In [49]:
data3 = ot.windsorization(data=data,col='duration',para=para,strategy='both')
data3[255:275]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
255,53,services,married,high.school,no,yes,yes,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
256,58,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
257,45,management,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
258,43,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
259,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
260,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
261,27,blue-collar,single,basic.6y,no,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
262,42,technician,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
263,43,admin.,divorced,basic.9y,no,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
264,42,admin.,married,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
265,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
266,34,self-employed,single,university.degree,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
267,31,student,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
268,54,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
269,40,self-employed,married,basic.4y,unknown,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
270,52,unemployed,married,high.school,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
271,47,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
272,49,housemaid,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
273,32,admin.,single,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
274,49,housemaid,single,high.school,unknown,yes,yes,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [50]:
# Descartar valores atípicos

In [51]:
index,para = ot.outlier_detect_arbitrary(data,'duration',300,5)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 11227
Proportion of outlier detected 0.2725793920559386
Límite superior: 300
Límite inferior: 5

In [53]:
data4 = ot.drop_outlier(data=data,outlier_index=index)
print(data4.duration.max())
print(data4.duration.min())

300
5

In [54]:
# Media/mediana/moda

In [56]:
index,para = ot.outlier_detect_arbitrary(data,'duration',300,5)
print('Límite superior:',para[0],'\nLímite inferior:',para[1])

Num of outlier detected: 11227
Proportion of outlier detected 0.2725793920559386
Límite superior: 300
Límite inferior: 5

In [57]:
data5 = ot.impute_outlier_with_avg(data=data,col='duration',
                                   outlier_index=index,strategy='mean')
data5[255:275]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
255,53,services,married,high.school,no,yes,yes,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
256,58,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
257,45,management,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
258,43,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
259,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
260,33,admin.,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
261,27,blue-collar,single,basic.6y,no,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
262,42,technician,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
263,43,admin.,divorced,basic.9y,no,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
264,42,admin.,married,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
265,27,blue-collar,single,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
266,34,self-employed,single,university.degree,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
267,31,student,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
268,54,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
269,40,self-employed,married,basic.4y,unknown,no,no,telephone,may,mon,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
270,52,unemployed,married,high.school,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
271,47,management,divorced,university.degree,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
272,49,housemaid,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
273,32,admin.,single,high.school,no,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
274,49,housemaid,single,high.school,unknown,yes,yes,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no