In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [ ]:
#leer dataset

In [3]:
data = pd.read_csv('./data/bank-additional-full.csv', sep=';')

In [4]:
data.head(3)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
X_train, X_test, y_train, y_test = train_test_split(data, data.y, test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((28831, 21), (12357, 21))

In [6]:
# Normalización - Estandarización (escala de puntuación Z)

In [7]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler().fit(X_train[['duration']])
X_train_copy = X_train.copy(deep=True)
X_train_copy['duration_zscore'] = ss.transform(X_train_copy[['duration']])
print(X_train_copy.head(6))

       age           job   marital          education  default housing loan  \
31880   37    management   married  university.degree  unknown      no  yes
38177   54    management  divorced  university.degree  unknown     yes   no
2459    49   blue-collar   married           basic.9y  unknown      no   no
756     30      services   married  university.degree       no     yes   no
11275   23   blue-collar    single           basic.9y       no      no   no
29677   49  entrepreneur   married  university.degree       no     yes   no

         contact month day_of_week  ...  pdays  previous     poutcome  \
31880   cellular   may         thu  ...    999         0  nonexistent
38177   cellular   oct         thu  ...    999         0  nonexistent
2459   telephone   may         tue  ...    999         0  nonexistent
756    telephone   may         wed  ...    999         0  nonexistent
11275  telephone   jun         thu  ...    999         0  nonexistent
29677   cellular   apr         mon  ...    999         0  nonexistent

       emp.var.rate cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y  \
31880          -1.8         92.893          -46.2      1.327       5099.1  no
38177          -3.4         92.431          -26.9      0.754       5017.5  no
2459            1.1         93.994          -36.4      4.856       5191.0  no
756             1.1         93.994          -36.4      4.856       5191.0  no
11275           1.4         94.465          -41.8      4.961       5228.1  no
29677          -1.8         93.075          -47.1      1.405       5099.1  no

       duration_zscore
31880        -0.243992
38177        -0.170508
2459          2.146168
756          -0.800923
11275         0.390290
29677         0.293601

[6 rows x 22 columns]

In [8]:
print(X_train_copy['duration_zscore'].mean())
print(X_train_copy['duration_zscore'].std())

7.837140230020182e-17
1.0000173428950507

In [9]:
# Escala mín.-máx.

In [11]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler().fit(X_train[['duration']])
X_train_copy = X_train.copy(deep=True)
X_train_copy['duration_minmax'] = mms.transform(X_train_copy[['duration']])
print(X_train_copy.head(6))

       age           job   marital          education  default housing loan  \
31880   37    management   married  university.degree  unknown      no  yes
38177   54    management  divorced  university.degree  unknown     yes   no
2459    49   blue-collar   married           basic.9y  unknown      no   no
756     30      services   married  university.degree       no     yes   no
11275   23   blue-collar    single           basic.9y       no      no   no
29677   49  entrepreneur   married  university.degree       no     yes   no

         contact month day_of_week  ...  pdays  previous     poutcome  \
31880   cellular   may         thu  ...    999         0  nonexistent
38177   cellular   oct         thu  ...    999         0  nonexistent
2459   telephone   may         tue  ...    999         0  nonexistent
756    telephone   may         wed  ...    999         0  nonexistent
11275  telephone   jun         thu  ...    999         0  nonexistent
29677   cellular   apr         mon  ...    999         0  nonexistent

       emp.var.rate cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y  \
31880          -1.8         92.893          -46.2      1.327       5099.1  no
38177          -3.4         92.431          -26.9      0.754       5017.5  no
2459            1.1         93.994          -36.4      4.856       5191.0  no
756             1.1         93.994          -36.4      4.856       5191.0  no
11275           1.4         94.465          -41.8      4.961       5228.1  no
29677          -1.8         93.075          -47.1      1.405       5099.1  no

       duration_minmax
31880         0.046440
38177         0.050965
2459          0.193618
756           0.012146
11275         0.085497
29677         0.079543

[6 rows x 22 columns]

In [12]:
print(X_train_copy['duration_minmax'].max())
print(X_train_copy['duration_minmax'].min())

1.0
0.0

In [13]:
# Escalamiento robusto

In [14]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler().fit(X_train[['duration']])
X_train_copy = X_train.copy(deep=True)
X_train_copy['duration_robust'] = rs.transform(X_train_copy[['duration']])
print(X_train_copy.head(6))

       age           job   marital          education  default housing loan  \
31880   37    management   married  university.degree  unknown      no  yes
38177   54    management  divorced  university.degree  unknown     yes   no
2459    49   blue-collar   married           basic.9y  unknown      no   no
756     30      services   married  university.degree       no     yes   no
11275   23   blue-collar    single           basic.9y       no      no   no
29677   49  entrepreneur   married  university.degree       no     yes   no

         contact month day_of_week  ...  pdays  previous     poutcome  \
31880   cellular   may         thu  ...    999         0  nonexistent
38177   cellular   oct         thu  ...    999         0  nonexistent
2459   telephone   may         tue  ...    999         0  nonexistent
756    telephone   may         wed  ...    999         0  nonexistent
11275  telephone   jun         thu  ...    999         0  nonexistent
29677   cellular   apr         mon  ...    999         0  nonexistent

       emp.var.rate cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y  \
31880          -1.8         92.893          -46.2      1.327       5099.1  no
38177          -3.4         92.431          -26.9      0.754       5017.5  no
2459            1.1         93.994          -36.4      4.856       5191.0  no
756             1.1         93.994          -36.4      4.856       5191.0  no
11275           1.4         94.465          -41.8      4.961       5228.1  no
29677          -1.8         93.075          -47.1      1.405       5099.1  no

       duration_robust
31880         0.074074
38177         0.162037
2459          2.935185
756          -0.592593
11275         0.833333
29677         0.717593

[6 rows x 22 columns]