In [2]:
#pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.8.1-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from category_encoders) (2.2.3)
Collecting patsy>=0.5.1 (from category_encoders)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from category_encoders) (1.7.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from category_encoders) (1.15.3)
Collecting statsmodels>=0.9.0 (from category_encoders)
  Downloading statsmodels-0.14.5-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in c:\users\david cordova\desktop\curso python\proyecto_ai\bootcamp03\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Downloading category_encoders-2.8.1-py3-none-any.whl (85 kB)
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading statsmodels-0.14.5-cp313-cp313-win_amd64.whl (9.6 MB)
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/9.6 MB 11.9 MB/s eta 0:00:01
   --------------- ------------------------ 3.7/9.6 MB 9.3 MB/s eta 0:00:01
   -------------------------- ------------- 6.3/9.6 MB 10.3 MB/s eta 0:00:01
   ------------------------------------ --- 8.7/9.6 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 9.6/9.6 MB 10.5 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels, category_encoders

   ---------------------------------------- 0/3 [patsy]
   ---------------------------------------- 0/3 [patsy]
   ---------------------------------------- 0/3 [patsy]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   ------------- -------------------------- 1/3 [statsmodels]
   -------------------------- ------------- 2/3 [category_encoders]
   -------------------------- ------------- 2/3 [category_encoders]
   -------------------------- ------------- 2/3 [category_encoders]
   ---------------------------------------- 3/3 [category_encoders]

Successfully installed category_encoders-2.8.1 patsy-1.0.1 statsmodels-0.14.5
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

import category_encoders as ce
from feature_engineering import encoding

In [62]:
use_cols = [
    'age', 'job', 'marital', 'education', 'duration',
    'y'
]

data = pd.read_csv('./data/bank-additional-full.csv', sep=';', usecols= use_cols)
data.head()

   age        job  marital    education  duration  y
0   56  housemaid  married     basic.4y       261  0
1   57   services  married  high.school       149  0
2   37   services  married  high.school       226  0
3   40     admin.  married     basic.6y       151  0
4   56   services  married  high.school       307  0

In [63]:
X_train, X_test, y_train, y_test = train_test_split(data, data.duration, test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((28831, 6), (12357, 6))

In [64]:
data1 = pd.get_dummies(data,drop_first=True)

In [65]:
data1.head()

,age,duration,y,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,marital_married,marital_single,marital_unknown,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown
0,56,261,0,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,57,149,0,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
2,37,226,0,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False
3,40,151,0,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,56,307,0,False,False,False,False,False,False,True,...,True,False,False,False,False,True,False,False,False,False

In [66]:
# Ordinal-encoding

In [67]:
ord_enc = ce.OrdinalEncoder(cols=['marital']).fit(X_train,y_train)

In [68]:
data4 = ord_enc.transform(data)
print(data4.head(5))

   age        job  marital    education  duration  y
0   56  housemaid        1     basic.4y       261  0
1   57   services        1  high.school       149  0
2   37   services        1  high.school       226  0
3   40     admin.        1     basic.6y       151  0
4   56   services        1  high.school       307  0

In [69]:
# Mean encoding

In [70]:
X_train['duration'].groupby(data['marital']).mean()

marital
divorced    253.733086
married     258.341451
single      258.845721
unknown     318.912281
Name: duration, dtype: float64

In [71]:
mean_enc = encoding.MeanEncoding(cols=['marital']).fit(X_train,y_train)

In [72]:
data6 = mean_enc.transform(data)
print(data6.head(5))

   age        job     marital    education  duration  y
0   56  housemaid  258.341451     basic.4y       261  0
1   57   services  258.341451  high.school       149  0
2   37   services  258.341451  high.school       226  0
3   40     admin.  258.341451     basic.6y       151  0
4   56   services  258.341451  high.school       307  0

In [73]:
#Target-encoding

In [76]:
target_enc = ce.TargetEncoder(cols=['marital']).fit(X_train,y_train)

In [77]:
data2 = target_enc.transform(data)

In [78]:
data2.head()

   age        job     marital    education  duration  y
0   56  housemaid  258.341451     basic.4y       261  0
1   57   services  258.341451  high.school       149  0
2   37   services  258.341451  high.school       226  0
3   40     admin.  258.341451     basic.6y       151  0
4   56   services  258.341451  high.school       307  0