In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve,  roc_auc_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Leer dataset

In [3]:
use_cols = [
    'age', 'job', 'marital', 'education', 'duration',
    'y'
]

data = pd.read_csv('./data/bank-additional-full.csv', sep=';', usecols= use_cols)

In [4]:
data.head(3)

   age        job  marital    education  duration  y
0   56  housemaid  married     basic.4y       261  0
1   57   services  married  high.school       149  0
2   37   services  married  high.school       226  0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data, data.duration, test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((28831, 6), (12357, 6))

In [7]:
# Transformaci√≥n con PolynomialFeatures (Grado 2)

In [8]:
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=2,include_bias=False).fit(X_train[['duration','age']])
tmp = pf.transform(X_train[['duration','age']])
X_train_copy = pd.DataFrame(tmp,columns=pf.get_feature_names_out(['duration','age']))
print(X_train_copy.head(6))

   duration   age  duration^2  duration age   age^2
0     195.0  37.0     38025.0        7215.0  1369.0
1     214.0  54.0     45796.0       11556.0  2916.0
2     813.0  49.0    660969.0       39837.0  2401.0
3      51.0  30.0      2601.0        1530.0   900.0
4     359.0  23.0    128881.0        8257.0   529.0
5     334.0  49.0    111556.0       16366.0  2401.0