In [1]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
import os
# plt.style.use('seaborn-colorblind')
# %matplotlib inline
from feature_cleaning import rare_values as ra

In [2]:
#Read the dataset

In [15]:
data = pd.read_csv('./data/bank-additional-full.csv',sep=';')
for i in ['job','age']:
    print('Variable',i,'label proportion:')
    print(data[i].value_counts()/len(data))

Variable job label proportion:
job
admin.           0.253035
blue-collar      0.224677
technician       0.163713
services         0.096363
management       0.070992
retired          0.041760
entrepreneur     0.035350
self-employed    0.034500
housemaid        0.025736
unemployed       0.024619
student          0.021244
unknown          0.008012
Name: count, dtype: float64
Variable age label proportion:
age
31    0.047271
32    0.044819
33    0.044503
36    0.043216
35    0.042707
        ...
89    0.000049
91    0.000049
94    0.000024
87    0.000024
95    0.000024
Name: count, Length: 78, dtype: float64

In [ ]:
#Agrupación en una nueva categoría

In [16]:
enc = ra.GroupingRareValues(cols=['job','age'],threshold=0.01).fit(data)

In [17]:
print(enc.mapping)

[{'col': 'job', 'mapping': admin.                  admin.
blue-collar        blue-collar
technician          technician
services              services
management          management
retired                retired
entrepreneur      entrepreneur
self-employed    self-employed
housemaid            housemaid
unemployed          unemployed
student                student
unknown                   rare
dtype: object, 'data_type': dtype('O')}, {'col': 'age', 'mapping': 31      31
32      32
33      33
36      36
35      35
      ...
89    rare
91    rare
94    rare
87    rare
95    rare
Length: 78, dtype: object, 'data_type': dtype('int64')}]

In [18]:
data2 = enc.transform(data)

In [20]:
print(data2.age.value_counts())

age
31      1947
32      1846
33      1833
rare    1798
36      1780
35      1759
34      1745
30      1714
37      1475
29      1453
39      1432
38      1407
41      1278
40      1161
42      1142
45      1103
43      1055
46      1030
44      1011
28      1001
48       979
47       928
50       875
27       851
49       839
52       779
51       754
53       733
56       704
26       698
54       684
55       648
57       646
25       598
58       576
24       463
59       463
Name: count, dtype: int64

In [ ]:
#Imputación

In [21]:
enc = ra.ModeImputation(cols=['job','age'],threshold=0.01).fit(data)

In [22]:
print(enc.mapping)

[{'col': 'job', 'mapping': admin.                  admin.
blue-collar        blue-collar
technician          technician
services              services
management          management
retired                retired
entrepreneur      entrepreneur
self-employed    self-employed
housemaid            housemaid
unemployed          unemployed
student                student
unknown                 admin.
dtype: object, 'data_type': dtype('O')}, {'col': 'age', 'mapping': 31    31
32    32
33    33
36    36
35    35
      ..
89    31
91    31
94    31
87    31
95    31
Length: 78, dtype: int64, 'data_type': dtype('int64')}]

In [23]:
data3 = enc.transform(data)

In [24]:
print(data3.age.value_counts())

age
31    3745
32    1846
33    1833
36    1780
35    1759
34    1745
30    1714
37    1475
29    1453
39    1432
38    1407
41    1278
40    1161
42    1142
45    1103
43    1055
46    1030
44    1011
28    1001
48     979
47     928
50     875
27     851
49     839
52     779
51     754
53     733
56     704
26     698
54     684
55     648
57     646
25     598
58     576
24     463
59     463
Name: count, dtype: int64